DATABASE_URL=mysql://USERNAME:PASSWORD@HOST:PORT/DATABASE_NAME
NEXTAUTH_SECRET=your_nextauth_secret
ADMIN_EMAIL=your_admin_email@example.com
ADMIN_PASSWORD=your_admin_password
ADMIN_NAME=Your Admin Name